<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador</title>
    <link rel="stylesheet" href="../css/registro.css">
</head>
<body>
    <header>
        <ul>
            <li class="first-link"><a href="#">Buscador Productos VH</a></li>
            <li ><a href="registro.html">Registro VH</a></li>
            <li ><a href="productos.html">Productos VH</a></li>
        </ul>
    </header>

    <div class="container">
        <h1>Buscador de Productos</h1>
        <div class="search-form">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" placeholder="Nombre...">
            <label for="categoria">Categoría:</label>
            <input type="text" id="categoria" placeholder="Categoria...">
            <label for="modelo">Modelo:</label>
            <input type="number" id="modelo" placeholder="Modelo...">
            <button onclick="buscar()">Buscar</button>
        </div>

    </div>

    <table id="tablaResultados">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Imagen</th>
                <th>Código Producto</th>
                <th>Precio</th>
                <th>Modelo</th>
                <th>Transmisión</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
            <!-- Resultados de búsqueda irán aquí -->
        </tbody>
    </table>
    <script src="../js/buscar.js"></script>
</body>
</html>